<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>S曲线养成计划</title>
  <meta name="viewport" content="width=750, user-scalable=no, target-densitydpi=device-dpi">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="full-screen" content="true">
  <meta name="screen-orientation" content="portrait">
  <meta name="x5-fullscreen" content="true">
  <meta name="360-fullscreen" content="true">
  <meta name="author" content="kyj">
  <meta name="format-detection" content="telephone=no"/>
  <meta name="cpm">
</head>
<body  style="margin:0">
  <div id="share"></div>
</body>
<script>

  window.onerror = function(msg , url, line) {

    var errorMsg = msg + " " + url + " " + line;

    var img = new Image;

    img.src = 'http://www.codoon.com/activity/v1/error_report?errorMsg=' + encodeURIComponent(errorMsg);
  }

</script>
</html>
